.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
checkpoints
assets
demo
notebooks
sam2
sav_dataset
tools
training
.clang-format
.watchmanconfig
backend.Dockerfile
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.yaml
INSTALL.md
LICENSE
LICENSE_cctorch
MANIFEST.in 
pyproject.toml
setup.py
README.md
requirements.txt
.github
model.torch

